:root {
    --canvasColor: #ffefdb;
    --backgroundColor: #ba3b44;
    --foregroundColor: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--canvasColor);
    color: white;
    padding: 40px;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr 50px 50px 50px 50px 50px;
    grid-template-areas: "a" "b" "c" "d" "e" "." "f";
    grid-gap: 16px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--backgroundColor);
}

.section-a {
    grid-area: a;
}

.section-b {
    grid-area: b;
}

.section-c {
    grid-area: c;
}

.section-d {
    grid-area: d;
}

.section-e {
    grid-area: e;
}

.section-f {
    grid-area: f;
}

@media screen and (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50px 174px 100px 1fr 50px;
        grid-template-areas: "a c c" "b c c" "b e d" "b e ." "f f f";
    }
}